<mat-card class="mat-elevation-z4">
    <mat-card-content>
        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Buscar..." [(ngModel)]="searchText">
        </mat-form-field>
        <mat-list>
            <mat-list-item *ngFor="let c of listaClientes | filter: searchText : 'nombre'"
                (click)="getCliente(c.cliente)">
                <mat-icon mat-list-icon>face</mat-icon>
                <h5 mat-line class="fontFamily">{{c.nombre}}</h5>
                <button mat-icon-button type="button" color="accent">
                    <mat-icon>arrow_right_alt</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>